<% content_for(:navbar) do %>
  <% if @section.previous %>
    <li> <%= link_to "Previous Section", section_path(@section.previous) %> </li>
  <% end %>
  <% if @section.next %>
    <li> <%= link_to "Next Section", section_path(@section.next) %> </li>
  <% end %>
<% end %>

<%= content_for(:title, "#{@section.name}") %>

<h1>
  <%= link_to @section.course.name, course_path(@section.course) %> /
  <%= @section.name %>
</h1>

<p>
  <%= link_to "Edit", edit_section_path(@section) %> |
  <%= link_to "Delete", section_path(@section), data: {
    confirm: "This will delete the section and all of its lessons. Are you sure?",
    method: "delete"
  } %>
</p>
<% if @section.lessons.any? %>
  <h3>Lessons</h3>
  <ul>
    <% @section.lessons.order(:order).each do |lesson| %>
      <li><%= link_to lesson.name, lesson_path( lesson) %></li>
    <% end %>
  </ul>
<% else %>
  <h3>This section has no lessons.</h3>
<% end %>

<p><%= link_to "Add a Lesson", new_section_lesson_path(@section) %></p>
