<h1><%= @course.name %></h1>
<p>
  <%= link_to "Edit", edit_course_path(@course) %> |
  <%= link_to "Delete", course_path(@course), data: { confirm: "Are you sure?", method: "delete"} %>
</p>
<% if @course.sections.any? %>
  <ul>
    <% @course.sections.each do |section| %>
      <li><%= link_to section.name, course_sections_path(@course, section) %></li>
    <% end %>
  </ul>
<% else %>
  <h3>This course has no sections.</h3>
<% end %>

<p><%= link_to "Add a Section", new_course_section_path(@course) %></p>
<p><%= link_to "Back to Courses", courses_path %></p>
